<a href="https://colab.research.google.com/github/20B01A0570/Kannikanti-Gayathri-Machine-Learning-Intern-YBI/blob/main/Thyroid_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#YBI FOUNDATION 'MACHINE LEARNING INTERN'
**Author:** Kannikanti Gayathri
**Batch:** 1st August
**Project 7:** Thyroid Disease Prediction
**Dataset Link:** https://www.dropbox.com/s/dut0pljmwr9do2l/ThyroidDisease.csv?dl=1

##Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Importing Dataset

In [2]:
data = pd.read_csv('https://www.dropbox.com/s/dut0pljmwr9do2l/ThyroidDisease.csv?dl=1')

In [3]:
data.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P

In [4]:
data["binaryClass"].value_counts()

P    3481
N     291
Name: binaryClass, dtype: int64

In [5]:
data["binaryClass"]=data["binaryClass"].map({"P":0,"N":1})

In [6]:
data["pregnant"].value_counts()

f    3719
t      53
Name: pregnant, dtype: int64

In [7]:
data=data.replace({"t":1,"f":0})
data

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,0,0,0,0,0,0,0,0,...,1,125,1,1.14,1,109,0,?,SVHC,0
1,23,F,0,0,0,0,0,0,0,0,...,1,102,0,?,0,?,0,?,other,0
2,46,M,0,0,0,0,0,0,0,0,...,1,109,1,0.91,1,120,0,?,other,0
3,70,F,1,0,0,0,0,0,0,0,...,1,175,0,?,0,?,0,?,other,0
4,70,F,0,0,0,0,0,0,0,0,...,1,61,1,0.87,1,70,0,?,SVI,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,0,0,0,0,0,0,0,0,...,0,?,0,?,0,?,0,?,other,0
3768,68,F,0,0,0,0,0,0,0,0,...,1,124,1,1.08,1,114,0,?,SVI,0
3769,74,F,0,0,0,0,0,0,0,0,...,1,112,1,1.07,1,105,0,?,other,0
3770,72,M,0,0,0,0,0,0,0,0,...,1,82,1,0.94,1,87,0,?,SVI,0
3771,64,F,0,0,0,0,0,0,0,0,...,1,99,1,1.07,1,92,0,?,other,0

In [8]:
data['sex'].isnull().sum()

0

In [9]:
del data["TBG"]

In [10]:
data=data.replace({"?":np.NAN})

In [11]:
data.isnull().sum()

age                            1
sex                          150
on thyroxine                   0
query on thyroxine             0
on antithyroid medication      0
sick                           0
pregnant                       0
thyroid surgery                0
I131 treatment                 0
query hypothyroid              0
query hyperthyroid             0
lithium                        0
goitre                         0
tumor                          0
hypopituitary                  0
psych                          0
TSH measured                   0
TSH                          369
T3 measured                    0
T3                           769
TT4 measured                   0
TT4                          231
T4U measured                   0
T4U                          387
FTI measured                   0
FTI                          385
TBG measured                   0
referral source                0
binaryClass                    0
dtype: int64

In [ ]:
data["sex"].value_counts()

F    2480
M    1142
Name: sex, dtype: int64

In [13]:
data=data.replace({"F":1,"M":0})
data["referral source"].value_counts()

other    2201
SVI      1034
SVHC      386
STMW      112
SVHD       39
Name: referral source, dtype: int64

In [14]:
del data["referral source"]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3771 non-null   object
 1   sex                        3622 non-null   float64
 2   on thyroxine               3772 non-null   int64
 3   query on thyroxine         3772 non-null   int64
 4   on antithyroid medication  3772 non-null   int64
 5   sick                       3772 non-null   int64
 6   pregnant                   3772 non-null   int64
 7   thyroid surgery            3772 non-null   int64
 8   I131 treatment             3772 non-null   int64
 9   query hypothyroid          3772 non-null   int64
 10  query hyperthyroid         3772 non-null   int64
 11  lithium                    3772 non-null   int64
 12  goitre                     3772 non-null   int64
 13  tumor                      3772 non-null   int64
 14  hypopituitary              3772 non-null   int64
 15  psych                      3772 non-null   int64
 16  TSH measured               3772 non-null   int64
 17  TSH                        3403 non-null   object
 18  T3 measured                3772 non-null   int64
 19  T3                         3003 non-null   object
 20  TT4 measured               3772 non-null   int64
 21  TT4                        3541 non-null   object
 22  T4U measured               3772 non-null   int64
 23  T4U                        3385 non-null   object
 24  FTI measured               3772 non-null   int64
 25  FTI                        3387 non-null   object
 26  TBG measured               3772 non-null   int64
 27  binaryClass                3772 non-null   int64
dtypes: float64(1), int64(21), object(6)
memory usage: 825.2+ KB

In [15]:
cols = data.columns[data.dtypes.eq('object')]
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')
data.dtypes

age                          float64
sex                          float64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH measured                   int64
TSH                          float64
T3 measured                    int64
T3                           float64
TT4 measured                   int64
TT4                          float64
T4U measured                   int64
T4U                          float64
FTI measured                   int64
FTI                          float64
TBG measured                   int64
binaryClass                    int64
dtype: object

In [16]:
data['T4U measured'].mean()
data['T4U measured'].fillna(data['T4U measured'].mean(), inplace=True)
data['sex'].fillna(data['sex'].mean(), inplace=True)

In [17]:
data['age'].fillna(data['age'].mean(), inplace=True)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
data['TSH'] = imputer.fit_transform(data[['TSH']])
data['T3'] = imputer.fit_transform(data[['T3']])
data['TT4'] = imputer.fit_transform(data[['TT4']])
data['T4U'] = imputer.fit_transform(data[['T4U']])
data['FTI'] = imputer.fit_transform(data[['FTI']])
data.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
binaryClass                  0
dtype: int64

In [18]:
data

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,binaryClass
0,41.0,1.0,0,0,0,0,0,0,0,0,...,1,2.5000,1,125.000000,1,1.140,1,109.000000,0,0
1,23.0,1.0,0,0,0,0,0,0,0,0,...,1,2.0000,1,102.000000,0,0.995,0,110.469649,0,0
2,46.0,0.0,0,0,0,0,0,0,0,0,...,0,2.0135,1,109.000000,1,0.910,1,120.000000,0,0
3,70.0,1.0,1,0,0,0,0,0,0,0,...,1,1.9000,1,175.000000,0,0.995,0,110.469649,0,0
4,70.0,1.0,0,0,0,0,0,0,0,0,...,1,1.2000,1,61.000000,1,0.870,1,70.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30.0,1.0,0,0,0,0,0,0,0,0,...,0,2.0135,0,108.319345,0,0.995,0,110.469649,0,0
3768,68.0,1.0,0,0,0,0,0,0,0,0,...,1,2.1000,1,124.000000,1,1.080,1,114.000000,0,0
3769,74.0,1.0,0,0,0,0,0,0,0,0,...,1,1.8000,1,112.000000,1,1.070,1,105.000000,0,0
3770,72.0,0.0,0,0,0,0,0,0,0,0,...,1,2.0000,1,82.000000,1,0.940,1,87.000000,0,0
3771,64.0,1.0,0,0,0,0,0,0,0,0,...,1,2.2000,1,99.000000,1,1.070,1,92.000000,0,0

In [19]:
data.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'binaryClass'],
      dtype='object')

In [20]:
data_corr = data.corr()
data_corr

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,binaryClass
age,1.000000,0.003606,0.014563,-0.017870,-0.063881,0.079468,-0.113521,-0.029502,0.052704,0.039562,...,7.311084e-02,-2.149247e-01,6.750898e-02,-3.760948e-02,8.536127e-02,-1.575229e-01,8.453378e-02,5.001749e-02,NaN,-0.003174
sex,0.003606,1.000000,0.098510,-0.043533,0.030484,-0.005755,0.079550,0.036586,0.020372,0.046353,...,-7.500437e-02,6.275929e-02,-7.387180e-02,1.669887e-01,-4.934307e-02,2.255718e-01,-5.016697e-02,3.853089e-02,NaN,0.050808
on thyroxine,0.014563,0.098510,1.000000,0.005995,-0.002201,-0.042053,0.010152,0.037583,0.063373,0.094412,...,-1.450614e-01,6.484854e-03,2.496392e-02,2.128008e-01,3.885187e-02,4.636815e-02,3.828521e-02,1.857484e-01,NaN,-0.081060
query on thyroxine,-0.017870,-0.043533,0.005995,1.000000,-0.012446,0.012594,0.045247,0.005858,-0.014610,-0.029808,...,-3.340948e-02,-6.465900e-03,2.960328e-02,-4.702231e-03,3.155031e-02,4.384229e-04,3.141982e-02,-3.550040e-03,NaN,-0.007448
on antithyroid medication,-0.063881,0.030484,-0.002201,-0.012446,1.000000,-0.021624,0.072050,-0.012819,0.006589,-0.017264,...,1.094961e-02,7.921225e-02,-2.464939e-02,2.381055e-02,-2.953201e-02,6.036462e-02,-2.978795e-02,-1.660334e-02,NaN,-0.021689
sick,0.079468,-0.005755,-0.042053,0.012594,-0.021624,1.000000,-0.024040,-0.000762,-0.025384,0.027718,...,6.695144e-03,-7.647155e-02,-5.699708e-03,-3.700575e-02,9.399140e-03,-3.906941e-02,9.068046e-03,-2.118940e-02,NaN,-0.001749
pregnant,-0.113521,0.079550,0.010152,0.045247,0.072050,-0.024040,1.000000,-0.014251,-0.015048,-0.021364,...,2.686496e-02,1.811466e-01,2.109671e-02,1.724903e-01,3.294152e-02,3.347023e-01,3.280814e-02,-1.669842e-02,NaN,-0.034516
thyroid surgery,-0.029502,0.036586,0.037583,0.005858,-0.012819,-0.000762,-0.014251,1.000000,0.003104,-0.012026,...,-2.345292e-02,-2.414553e-02,3.049073e-02,-2.180623e-02,1.067220e-02,2.792243e-02,1.048764e-02,-3.182840e-02,NaN,-0.017633
I131 treatment,0.052704,0.020372,0.063373,-0.014610,0.006589,-0.025384,-0.015048,0.003104,1.000000,0.047296,...,1.504369e-04,1.205665e-02,3.219634e-02,-8.848056e-03,2.854012e-02,9.405826e-03,2.838493e-02,-1.681719e-02,NaN,0.003590
query hypothyroid,0.039562,0.046353,0.094412,-0.029808,-0.017264,0.027718,-0.021364,-0.012026,0.047296,1.000000,...,-6.354673e-02,-4.749603e-02,2.443261e-02,-9.012716e-03,1.451686e-02,1.383247e-02,1.409980e-02,-1.971919e-02,NaN,0.086282
query hyperthyroid,-0.038054,0.065274,-0.023796,-0.010905,0.126566,-0.035206,0.117605,0.015501,0.064212,0.019464,...,2.797884e-02,1.662303e-01,-4.777950e-02,1.278489e-01,-2.046639e-02,7.426861e-02,-2.096692e-02,1.022023e-01,NaN,-0.013446
lithium,-0.030126,0.014155,-0.002509,-0.008026,-0.007436,-0.013944,-0.008266,-0.008266,-0.008729,-0.001860,...,-3.154233e-03,7.874605e-03,1.768610e-02,-1.391340e-02,2.341344e-02,1.516916e-02,2.334597e-02,-2.594666e-02,NaN,-0.005603
goitre,-0.051830,-0.007886,-0.010098,0.038000,-0.010241,-0.019205,0.012447,-0.011385,-0.012022,-0.024527,...,-3.528926e-02,1.179153e-02,-1.073740e-02,-1.894053e-02,4.514355e-03,3.507619e-02,4.357692e-03,-3.986537e-02,NaN,-0.027575
tumor,-0.025037,0.076303,-0.029773,-0.004011,-0.017353,0.010949,0.123728,-0.004990,-0.020371,-0.034582,...,-1.850360e-02,9.743979e-02,-4.999352e-02,5.863822e-02,-2.302622e-02,9.020034e-02,-2.336217e-02,1.210741e-02,NaN,0.003747
hypopituitary,-0.024927,-0.024489,-0.006099,0.140500,-0.001749,-0.003279,-0.001944,-0.001944,-0.002053,-0.004188,...,8.240570e-03,-1.574029e-02,4.159247e-03,-2.564535e-02,5.506148e-03,6.597107e-03,5.490280e-03,-3.088991e-02,NaN,-0.004708
psych,-0.100116,-0.098832,-0.073571,-0.026247,-0.024318,-0.032883,-0.016577,-0.027034,-0.028546,-0.012320,...,9.932121e-02,2.731614e-02,5.783966e-02,-3.839169e-04,5.223382e-02,-1.469148e-02,5.195723e-02,1.010479e-02,NaN,-0.028575
TSH measured,0.105131,-0.035249,0.041818,-0.117891,0.001736,0.015588,0.001401,0.039310,0.041509,0.055090,...,4.447227e-01,-3.873973e-02,6.714294e-01,3.725929e-03,5.062649e-01,1.202644e-02,5.080050e-01,-1.515987e-04,NaN,0.095209
TSH,-0.056167,0.031808,0.017138,-0.009453,-0.010668,-0.022099,-0.019693,0.026230,-0.004125,0.025978,...,7.449362e-03,-1.473313e-01,-9.420131e-04,-2.612998e-01,-5.979489e-03,7.102821e-02,-6.287426e-03,-2.930229e-01,NaN,0.423958
T3 measured,0.073111,-0.075004,-0.145061,-0.033409,0.010950,0.006695,0.026865,-0.023453,0.000150,-0.063547,...,1.000000e+00,-1.170355e-17,4.169044e-01,-3.912926e-02,2.626320e-01,6.912897e-03,2.641218e-01,-4.180689e-02,NaN,0.032866
T3,-0.214925,0.062759,0.006485,-0.006466,0.079212,-0.076472,0.181147,-0.024146,0.012057,-0.047496,...,-1.170355e-17,1.000000e+00,-7.890859e-03,5.090651e-01,1.686030e-03,4.072415e-01,8.274354e-04,3.088371e-01,NaN,-0.177683
TT4 measured,0.067509,-0.073872,0.024964,0.029603,-0.024649,-0.005700,0.021097,0.030491,0.032196,0.024433,...,4.169044e-01,-7.890859e-03,1.000000e+00,-4.469704e-17,7.480946e-01,2.030617e-03,7.466088e-01,2.260306e-04,NaN,0.053129
TT4,-0.037609,0.166989,0.212801,-0.004702,0.023811,-0.037006,0.172490,-0.021806,-0.008848,-0.009013,...,-3.912926e-02,5.090651e-01,-4.469704e-17,1.000000e+00,4.124238e-02,4.264837e-01,3.975493e-02,7.791005e-01,NaN,-0.291677
T4U measured,0.085361,-0.049343,0.038852,0.031550,-0.029532,0.009399,0.032942,0.010672,0.028540,0.014517,...,2.626320e-01,1.686030e-03,7.480946e-01,4.124238e-02,1.000000e+00,1.733842e-16,9.971181e-01,6.114169e-04,NaN,0.015901
T4U,-0.157523,0.225572,0.046368,0.000438,0.060365,-0.039069,0.334702,0.027922,0.009406,0.013832,...,6.912897e-03,4.072415e-01,2.030617e-03,4.264837e-01,1.733842e-16,1.000000e+00,1.747057e-16,-1.740050e-01,NaN,0.028337
FTI measured,0.084534,-0.050167,0.038285,0.031420,-0.029788,0.009068,0.032808,0.010488,0.028385,0.014100,...,2.641218e-01,8.274354e-04,7.466088e-01,3.975493e-02,9.971181e-01,1.747057e-16,1.000000e+00,-1.909312e-16,NaN,0.015431
FTI,0.050017,0.038531,0.185748,-0.003550,-0.016603,-0.021189,-0.016698,-0.031828,-0.016817,-0.019719,...,-4.180689e-02,3.088371e-01,2.260306e-04,7.791005e-01,6.114169e-04,-1.740050e-01,-1.909312e-16,1.000000e+00,NaN,-0.313791
TBG measured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
binaryClass,-0.003174,0.050808,-0.081060,-0.007448,-0.021689,-0.001749,-0.034516,-0.017633,0.003590,0.086282,...,3.286576e-02,-1.776835e-01,5.312853e-02,-2.916767e-01,1.590087e-02,2.833745e-02,1.543102e-02,-3.137907e-01,NaN,1.000000

#Defining X and y

In [21]:
x = data.drop('binaryClass', axis=1)
y = data['binaryClass']

#Training and Testing Data

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

#RandomForest

In [24]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [25]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [26]:
pred = rf.predict(x_test)

In [27]:
rf.score(x_test,y_test)

0.9848875451200281